<!doctype html>
<html ng-app="teambuildrApp">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TeamBuildr | Home</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/css.css"/>
  <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-star-rating/css/star-rating.min.css">

  <style>
  body{
    padding-top:70px;
  }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/controller.js"></script>
  <script type="text/javascript" src="js/sortable.js"></script>
  <script src="bower_components/bootstrap-star-rating/js/star-rating.min.js"></script>

</head>


<body>

  <div ng-controller="PlayerController">

    <!-- NAVBAR SETUP -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- Responsive hamburger to smaller windows -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TeamBuildr</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" class="active">Table View</a></li>
            <li><a href="comparison.html">Comparison View</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- EMAIL MODAL -->
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
      <form ng-submit="emailSubmit();" id="emailmod">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="myEmailModalLabel">Email Selected Players</h2>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            </div><!-- .modal-header -->
            <div class="modal-body" id="email_form">
              <form class="form-horizontal">
                <div class="form-group">
                  Mail to:
                </div>
                <div class="form-group">
                  <input type="text" class=" uniform_margins form-control inp" name="mailto" id="mailto" placeholder="mail to"><br> 
                </div>
              </form>
              <hr>
              <div id="subject_for" for="subject">
                Subject: <input type="text" class=" uniform_margins form-control inp" name="subject" id="subject" placeholder="subject"><br>
              </div>
              <hr>
              <div for="message">Message:</div>
              <hr>
              <textarea type="text" class="form-control uniform_margins" name="message" id="message" placeholder="body"></textarea><br>
              <input type="submit" name="submit" class="submit_btn btn-large" id="send_btn" value="Send!" />
            </div><!-- .modal-body -->
          </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
      </form>
    </div>

    <!-- EDIT PLAYER MODAL -->
    <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModal" aria-hidden="true">
      <form ng-submit="editPlayer()">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="myRecruitModalLabel">Recruit Information</h2><br>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            </div><!-- .modal-header -->
            <div class="modal-body" id="add_form">
              <div>
                <label for="name">Name: </label><input type="text" class="form-control inp" name="name" placeholder="John Doe" ng-model="editedPlayer.name"><br>
              </div>
              <div>
                <label for="email">Email: </label><input type="text" class="form-control inp" name="email_addr" placeholder="john@gmail.com" ng-model="editedPlayer.email"><br>
              </div>
              <div class="form-group">
                <label for="sel1">Position:</label>
                <select class="form-control inp" ng-model="editedPlayer.position">
                  <option>C</option>
                  <option>SF</option>
                  <option>PF</option>
                  <option>PG</option>
                  <option>SG</option>
                </select>
              </div>
              <div>
                <label for="gpa">GPA: </label><input type="text" class="form-control inp" name="gpa" placeholder="4.0" ng-model="editedPlayer.gpa"><br>
              </div>
              <div>
                <label for="sat">SAT: </label> <input type="text" class="form-control inp" name="sat" placeholder="1600" ng-model="editedPlayer.sat"><br>
              </div>
              <div>
                <label for="film">Film Link:  </label><input type="text" class="form-control inp" name="film" placeholder="youtube.com/..." ng-model="editedPlayer.film"><br>
              </div>
              <input type="submit" name="submit" class="submit_btn" id="show_btn" value="Submit changes"/>
            </div><!-- .modal-body -->
          </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
      </form>
    </div>

                <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                       <h2 class="modal-title" id="myHelpModalLabel">Help</h2>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                     </div>

                     <div class="modal-body help-contents">
                      Some basic tips:
                      <ul>
                       <li> Add new recruits to the table by using the "Add New Recruits" button. </li>
                       <li>Search through players using the search box. </li> 
                       <li> Clicking on any field in the top row will sort the table by that field. </li> 
                       <li> The checkbox on the top row can be used to select all recruits, or select none if all are selected. </li> 
                       <li> Clicking on a recruit's name will allow editing the recruit's information. </li>
                     </ul>

                   </div>

                   <div id='addedsuccess' class="hidden" style="color:black;text-align:center"></br><h3>Recruit information submitted!</h3><br><br></div>
                 </div>
               </div>
             </div>







             <!-- <div class="container-fluid"> -->
             <div class="toolbar_wrapper">
               <form class="form-inline toolbar">
                <a href="#" data-target="#addModal" id="add_players" data-toggle="modal">
                  <img id="addbutton2" src="graphics/Add.png"> Add New Recruit
                </a>
                <a href="#" data-toggle="modal" id="email" ng-click="loadEmails();" data-target="#emailModal"><img id="toolbarbuttongeneral" src="graphics/Email copy.png">Email Selected Players</a>

                <form id="search-form" role="search">
                  <div class="input-group">
                    <input ng-model="searchText" type="text" class="form-control search-form" placeholder="Search players by any attribute; Results will update on table...">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="search_form"><i class="glyphicon glyphicon-search"></i>
                      </button>
                    </span>

                  </div>


                  <a href="#" data-target="#helpModal" id="help" data-toggle="modal">
                    <img id="addbutton" src="graphics/help.png">
                  </a>
                </form>

              </form>
            </div>
            <!-- </div> -->
            <hr>








            <div  class="container">


              <!---====================================================================================================================-->
                <!-- ADD PLAYERS
                <!---====================================================================================================================-->



                <form ng-submit="addPlayer()"><div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                       <h2 class="modal-title" id="myAddPlayerModalLabel">Add a New Recruit</h2>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                     </div>

                     <div class="modal-body" id="add_form">
                      <div><label for="name">Name: </label><input type="text" class="form-control inp" name="name" id="name" placeholder="John Doe"><br></div>
                      <div><label for="email">Email: </label><input type="text" class="form-control inp" name="email_addr" id="email_addr" placeholder="john@gmail.com"><br>  </div>


                      <div class="form-group">
                        <label for="sel1">Position:</label>
                        <select class="form-control inp" id="position">
                          <option>C</option>
                          <option>SF</option>
                          <option>PF</option>
                          <option>PG</option>
                          <option>SG</option>

                        </select>
                      </div>

                      <!-- <div id="slider"></div> -->
                      <div class="form-group">
                        <label for="sel1">Rating:</label>
                        <select class="form-control inp" id="rating">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>



                      <div><label for="gpa">GPA: </label><input type="text" class="form-control inp" name="gpa" id="gpa" placeholder="4.0"><br>
                      </div>
                      <div><label for="sat">SAT: </label> <input type="text" class="form-control inp" name="sat" id="sat" placeholder="1600"><br>
                      </div>

                      <div><label for="film">Film Link:  </label><input type="text" class="form-control inp" name="film" id="film" placeholder="youtube.com/..."><br>

                      </div>

                      <input type="submit" name="submit" class="submit_btn button2 btn-large" id="add_btn" value="Add Player" />

                    </div>

                    <div id='addedsuccess' class="hidden" style="color:black;text-align:center"></br><h3>Recruit information submitted!</h3><br><br></div>
                  </div>
                </div>
              </div></form>
              <!-- <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe> -->

              <table id="player-table" class="table table-bordered">

                <tr class="active">
                  <td><input type="checkbox" id="all_check" ng-model="allChecked" ng-click="checkAll()" /></td>
                  <td><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name<font size="1"><span class="glyphicon" ng-class="{'glyphicon-chevron-up': predicate == 'name' && reverse, 'glyphicon-chevron-down': predicate == 'name' && !reverse}"></span></font></td>
                  <td><a href="" ng-click="predicate = 'position'; reverse=!reverse">Position<font size="1"><span class="glyphicon" ng-class="{'glyphicon-chevron-up': predicate == 'position' && reverse, 'glyphicon-chevron-down': predicate == 'position' && !reverse}"></span></font></td>
                  <td><a href="" ng-click="predicate = 'rating'; reverse=!reverse">Rating<font size="1"><span class="glyphicon" ng-class="{'glyphicon-chevron-up': predicate == 'rating' && !reverse, 'glyphicon-chevron-down': predicate == 'rating' && reverse}"></span></font></td>
                  <td><a href="" ng-click="predicate = 'gpa'; reverse=!reverse">GPA<font size="1"><span class="glyphicon" ng-class="{'glyphicon-chevron-up': predicate == 'gpa' && !reverse, 'glyphicon-chevron-down': predicate == 'gpa' && reverse}"></span></font></td>
                  <td><a href="" ng-click="predicate = 'sat'; reverse=!reverse">SAT<font size="1"><span class="glyphicon" ng-class="{'glyphicon-chevron-up': predicate == 'sat' && !reverse, 'glyphicon-chevron-down': predicate == 'sat' && reverse}"></span></font></td>
                </tr>
                <tr ng-repeat="player in players | filter:searchText | orderBy:predicate:reverse" ng-class="{success: player.checkmark}">
                  <td><input type="checkbox" ng-model="player.checkmark" ng-click="check(player)" /></td>
                  <td><a href="#" data-target="#showModal" data-toggle="modal" ng-click="setSelected(player)">{{player.name}}</a></td>
                  <td>{{player.position}}</td>
                  <td class="star-sizing"><input id="input-id" type="number" class="rating" min=0 max=5 step={{player.rating}} data-size="xs" data-readOnly="true" data-showClear="false" value={{player.rating}} /></td>
                  <td>{{player.gpa}}</td>
                  <td>{{player.sat}}</td>
                </tr>
              </table>
              <script>
              $(document).ready(function() {
                $(".clear-rating").remove();
                $(".caption").remove();
              });
              </script>
            </div>

          </div>

</div>


</body>
</html>
