
<!doctype html>
<html ng-app="teambuildrApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TeamBuildr | Home</title>

<!-- <link rel="shortcut icon" href="/graphics/favicon.ico" type="image/x-icon">
<link rel="icon" href="/graphics/favicon.ico" type="image/x-icon">
 -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css" />

<style>
body{
  padding-top:70px;
}
</style>


<script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/css.css"/>

<script src="js/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="js/controller.js"></script>

</head>

<body>
        <div ng-app="playerApp" class="row">
            <div ng-controller="PlayerController">

<!---====================================================================================================================-->
<!--    NAVBAR SETUP
<!---====================================================================================================================-->


      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TeamBuildr</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Table View</a></li>
                    <li><a href="#">Comparison View</a></li>


<!---====================================================================================================================-->
<!-- EMAIL PLAYERS
<!---====================================================================================================================-->


          <li><a href="#" data-toggle="modal" class="special" id="email" ng-click="loadEmails();" data-target="#emailModal">Email Selected Players</a>


            <form ng-submit="emailSubmit();" id="emailmod"><div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                           <h2 class="modal-title" id="myModalLabel">Email Selected Players</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        </div>

                        <div class="modal-body" id="email_form">

                              <div id="mail_to">Mail to: <input type="text" class="form-control inp" name="mailto" id="mailto" placeholder="mail to"><br>  </div>
                              <hr>
        
                              <div id="subject_for" for="subject">Subject: <input type="text" class="form-control inp" name="subject" id="subject" placeholder="subject"></br></div>

                              <hr>

                              <div for="message">Message:</div>
                              <hr>


                              <textarea type="text" class="form-control" name="message" id="message" placeholder="body"></textarea></br>
                                 
                              <input type="submit" name="submit" class="signupbutton button2 btn-large" id="send_btn" value="Send!" />

                      </div>

                      <div id='signupmessage1' class="hidden" style="color:black;text-align:center"></br><h3>Registration form submitted!</h3><br><br></div>


                </div>
              </div>
            </div></form>
      <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe><!--register bootstrap--></li>


                </ul>

<!---====================================================================================================================-->
<!-- SEARCH BAR
<!---====================================================================================================================-->



            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">


<!---====================================================================================================================-->
<!-- SHOW PLAYERS
<!---====================================================================================================================-->




<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                           <h2 class="modal-title" id="myModalLabel">Recruit Information</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        </div>

                  <div class="modal-body" id="add_form">
                    <div><label for="name">Name: </label><input type="text" class="form-control inp" name="name" placeholder="John Doe" ng-model="selectedPlayer.name"><br></div>
                    <div><label for="email">Email: </label><input type="text" class="form-control inp" name="email_addr" placeholder="john@gmail.com" ng-model="selectedPlayer.email"><br>  </div>
                    

                    <div class="form-group">
                      <label for="sel1">Position:</label>
                      <select class="form-control inp" ng-model="selectedPlayer.position">
                        <option>C</option>
                        <option>SF</option>
                        <option>PF</option>
                        <option>PG</option>
                        <option>SG</option>

                      </select>
                    </div>

                    <div><label for="gpa">GPA: </label><input type="text" class="form-control inp" name="gpa" placeholder="4.0" ng-model="selectedPlayer.gpa"><br>
                    </div>
                    <div><label for="sat">SAT: </label> <input type="text" class="form-control inp" name="sat" placeholder="1600" ng-model="selectedPlayer.sat"><br>
                    </div>

                    <div><label for="film">Film Link:  </label><input type="text" class="form-control inp" name="film" placeholder="youtube.com/..." ng-model="selectedPlayer.film"><br> 

                    </div>

                  

                      </div>

                      <div id='addedsuccess' class="hidden" style="color:black;text-align:center"></br><h3>Recruit information submitted!</h3><br><br></div>
                </div>
              </div>
            </div>




<!---====================================================================================================================-->
<!-- ADD PLAYERS
<!---====================================================================================================================-->



           <form ng-submit="addPlayer()"><div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                           <h2 class="modal-title" id="myModalLabel">Add a New Recruit</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        </div>

                  <div class="modal-body" id="add_form">
                    <div><label for="name">Name: </label><input type="text" class="form-control inp" name="name" id="name" placeholder="John Doe"><br></div>
                    <div><label for="email">Email: </label><input type="text" class="form-control inp" name="email_addr" id="email_addr" placeholder="john@gmail.com"><br>  </div>
                    

                    <div class="form-group">
                      <label for="sel1">Position:</label>
                      <select class="form-control inp" id="position">
                        <option>C</option>
                        <option>SF</option>
                        <option>PF</option>
                        <option>PG</option>
                        <option>SG</option>

                      </select>
                    </div>

                <!-- <div id="slider"></div> -->
                <div class="form-group">
                      <label for="sel1">Rating:</label>
                      <select class="form-control inp" id="rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>



                    <div><label for="gpa">GPA: </label><input type="text" class="form-control inp" name="gpa" id="gpa" placeholder="4.0"><br>
                    </div>
                    <div><label for="sat">SAT: </label> <input type="text" class="form-control inp" name="sat" id="sat" placeholder="1600"><br>
                    </div>

                    <div><label for="film">Film Link:  </label><input type="text" class="form-control inp" name="film" id="film" placeholder="youtube.com/..."><br> 

                    </div>

                    <input type="submit" name="submit" class="submit_btn button2 btn-large" id="add_btn" value="Add Player" />

                      </div>

                      <div id='addedsuccess' class="hidden" style="color:black;text-align:center"></br><h3>Recruit information submitted!</h3><br><br></div>
                </div>
              </div>
            </div></form>
      <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>

  


<!---====================================================================================================================-->
<!-- INTERCHANGEABLE VIEWS
<!---====================================================================================================================-->

                <div ng-view></div>

            </div>
        </div>

    </div>
    <!-- /.container -->




<!-- from http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css -->

<script type="text/javascript">
$.fn.stars = function() {
    return $(this).each(function() {
        $(this).html($('<span />').width(Math.max(0, (Math.min(5, parseFloat($(this).html())))) * 16));
    });
}
$(function() {
    $('span.stars').stars();
});
</script>


<!--script type="text/javascript">
  $(function() {
    $( "#slider" ).slider({
      range: "min",
      value: 0,
      min: 0,
      max: 8000,
    step: 200,
    });
  });
</script-->




</body>
</html>
